
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



*{
    margin: 0;
    padding: 0;
}

/* header main styles */

/* .menu-bar{
    width: 1160px;
    height: 44px;
} */

.header-main{
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.header-text{
    display: flex;
    flex-direction: column;
    margin-left: 156px;
    
}
.button-1{
    background-color: #e02c6d;
    width: 168px;
    height: 44px;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    margin-top: 42px;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    
}

.fas{
    margin-left: 8px;
}


/* .header-section nav{
    margin-top: 42px;
    margin-left: 156px;
    height: 44px;
} */

/* .header-section a{
    margin-left: 5px;
} */

.header-text h1{
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    color: white;
    width: 485px;
    height: 240px;
    margin-top: 207px;
    
    
}

.header-main img{
    
    width: 550px;
    height: 440px;
    margin-top: 153px;
    margin-left: 102px;

    /* ANIMATION */

}